# Virtual environment
.venv/
env/
venv/

# python version from pyenv
.python-version

# Python files
__pychache__/
*.py[cod]
.pytest_cache/

# PyCharm files
.idea/

# macOS system files
.DS_Store

# Logs
*.log
